.footer-general {
  background-color: #17222b;
  margin-top: 25px;
  color: #fff;
}

li {
  color: #fff;
}
.nav-link, .nav-item, .bi {
  color: #fff !important;
}

.link-dark {
  font-size: 20px;
}

.social-media{
    padding-right: 108px;
}

