.footer-general {
  background-color: #17222b;
  margin-top: 25px;
  color: #fff;
}

li {
  color: #fff;
}
.nav-link,
.nav-item,
.bi {
  color: #fff !important;
}

.link-dark {
  font-size: 20px;
}

.social-media {
  padding-right: 108px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer-menu-mobil {
    display: none;
  }
  .offset-1 {
    margin-left: 0 !important;
  }
  .col-md-4 {
    margin-top: 40px;
  }

  .social-media {
    padding-right: 0px !important;
  }
  .footer-bottom {
    display: block !important;
  }
}
