<div class="row">
    <div class="col-md-12">
        <app-hot></app-hot>
    </div>
    <div class="col-md-8">
        <app-slider></app-slider>
    </div>
    <div class="col-md-4">
        <app-slider-right></app-slider-right>
    </div>
    <hr class="hr">
    <h5><span class="content-general">Genel</span></h5>
    <div *ngFor="let content of contents" class="col-lg-3 mt-3 mb-3">
        <div class="card">
            <img src="{{content.urlToImage}}" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="{{content.url}}" target="_blank">{{content.title}}</a>
            </div>
        </div>
    </div>
</div>
<hr class="hr">
<div class="row">
    <h5><span class="content-tech">Teknoloji</span></h5>
    <div *ngFor="let tech of techs" class="col-lg-3 mt-3 mb-3">
        <div class="card">
            <img src="{{tech.urlToImage}}" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="{{tech.url}}" target="_blank">{{tech.title}}</a>
            </div>
        </div>
    </div>
</div>
<hr class="hr">

<div class="row">
    <h5><span class="content-spor">Spor</span></h5>
    <div *ngFor="let spor of spors" class="col-lg-3 mt-3 mb-3">
        <div class="card">
            <img src="{{spor.urlToImage}}" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="{{spor.url}}" target="_blank">{{spor.title}}</a>
            </div>
        </div>
    </div>
</div>
<hr class="hr">
<div class="row">
    <h5><span class="content-science">Bilim</span></h5>
    <div *ngFor="let science of sciences" class="col-lg-3 mt-3 mb-3">
        <div class="card">
            <img src="{{science.urlToImage}}" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="{{science.url}}" target="_blank">{{science.title}}</a>
            </div>
        </div>
    </div>
</div>